body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #4C5454;

}


h1{
    font-size: 22px;
    padding-left: 20px;
}

h2{
    font-size: 20px;
    padding-left: 50px;
}

p {
    padding-left: 50px;    
}

img {
    width: 400px;
}

ul,ol {
    padding-left: 100px;
}

#liste table {
    border-collapse: collapse;
    width: 400px;
    margin: 50px;
}

#liste tr,td {
    border: 1px solid #ddd;
    padding: 8px;
}

#liste tr:nth-child(even) {
    background-color: #F2F2F2;
}

#liste tr:hover  {
    background-color: #DDDDDD;
}

#liste th {
    padding: 12px 8px 20px 8px;
    text-align: left;
    background-color: #FF715B;
    color: white;
}

#message form {
    width: 100%;
}

#message label,select,input {
    display: block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: #4C5454;
    font-size: 16px;
    border-radius: 5px;
}

#message select,input {
    background-color: #FF715B;
    border: 1px solid #4C5454;
    border-radius: 5px;
}

header,nav,footer {
    background-color: #FF715B;
    color: white;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-variant-caps: small-caps;
}

nav p {
    margin:unset;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    box-shadow: none;
}

nav span {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-variant-caps: small-caps;
    cursor: pointer;
}

span:hover,nav:hover {
    border-bottom: 2px white solid;
    transition-duration: 0.3s;
}

section {
    padding: 10px 10px 10px 10px;

}

section a {
    text-decoration: none;
    box-shadow: none;
    color: #4C5454;
}

aside {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: black;
    background: linear-gradient(#FF715B,#ffbdb3,#FF715B);    
}



aside p {
    padding: 0;
}

aside ul,ol {
    padding-left: 40px;
}

footer {
    text-align: center;
}

footer h1 {
    font-size: 22px;
}

footer:link {
    color: white;
}

footer a {
    
    color: white;
    box-shadow: none;
}

#hamburger {
    width: 80px;
    float: right;
}


@media screen and (orientation: portrait) {
    
    body{
        display: grid;
        grid-template-areas: "entete"
                             "navigation"
                             "principale" 
                             "pied";   
        grid-template-columns: 100%;
        grid-template-rows: 100px auto auto auto;
    }

    aside{
        display: none;
    }
    #liste table {
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    
    #journal{
        display: block;
        width: 80%;
        margin: 5px auto 5px auto;
        float: none;
    }
    section{
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
    }
    #presentation h1,h2,p {
        padding-left: 0px;
    }
    #presentation ul,ol {
        padding-left: 25px;
    }
    form{
        width: 100%;
        margin: 20px 0px 20px 0px;
    }
}

